@import "bootstrap/bootstrap.less";

body {
  padding-top: 130px;
  background: url('../img/fons_blau.gif') repeat;
}


#capsalera {
    min-height: 462px;
    /*background: white;*/
    border-bottom: 1px solid; 
    margin-bottom: 20px;
    /*border-radius: 0.5em;*/
    /*background: url('../img/imatge_fons.png') repeat;*/
}

#wrapper-capsalera {
}


#compromesos {
    font-family: 'DINLight';
    font-size: 44px;
    background: white;
    border-radius: 0.5em;
    padding: 20px 20px 30px 20px;
    margin-top: 50px;
    text-align: center;
    color: #3a99d7;
}

#compromesos strong{
    color: black;
    font-family: 'DINBlack';
    font-size: 57px;
    font-weight: 300;
}

#obsessionats {
    color: #3a99d7;
    background: white;
    border-radius: 0em 0em 0.5em 0.5em;
    padding: 20px;
    font-family: 'DINBold';
    font-size: 17px;
    font-weight: 300;
    text-align: center;
}

#hola {
    color: #3a99d7;
    background: white;
    border-radius: 0.5em;
    padding: 30px 30px 30px 30px;
    font-family: 'DINBlack';
    font-size: 25px;
    font-weight: 300;    
    text-align: center;
}

#sota_descripcio {
    color: #3a99d7;
    background: white;
    border-radius: 0.5em;
    padding: 30px 30px 30px 30px;
    font-family: 'DINRegular';
    font-size: 18px;
    font-weight: 300;    
    text-align: center; 
    margin-top: 20px;
}

#logo_mig {
    position: absolute;
    left: 38%;
}

.label {
    background: none;
}

#navegacio {
    color: white;
    font-size: 20px;
    margin-top: 25px;
}

.section-front-page .documentFirstHeading {
    display: none;
}

.field {
    margin-top: 15px;
}

.field label {
    font-size: 20px;
    color: white;
    display: inline-block;
}

.widget input {
    margin-right: 10px;
}

#features {
    text-align: center;
    margin-top : 50px;
}

#features .subtitol {
    margin-top: 10px;
    font-size: 40px;
    font-family: 'DINBold';
    text-shadow: 2px 2px #ccc;
    line-height: 40px;
}


footer {
    background-color: #41a2db;
    margin-top: 30px;
    color: #66ccff;
}

footer p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 50px;
}

#noupaper {
    float: right;
    text-shadow: 1px 1px #ccc;
    padding: 10px;
}

#login-forgotten-password a {
    font-size: 1.5em;
}

#login-new-user a {
    font-size: 1.5em;
}

.portalMessage {
    .alert;
}
.error{
    .alert-error;
}

#personal-tools {
    font-size: 14px;
    float: right;
    padding: 0px 10px 0px 10px;
}

#portal-personaltools {
    margin-bottom: 5px;
    margin-top: 5px;
}

.caret {
    color: white;
}

input, textarea, select, .uneditable-input {
    width: auto;
}

#descripcio_ifr {
    background: white;
}

.suppressVisualEditor {
    display: none;
}

dt {
    font-family: 'DINBold';
    font-weight: 300;
}

// Landscape phones and down
@media (max-width: 480px) { 

#capsalera {
    display: none;
 }

#logo_mig { display:none;}

}
 
// Landscape phone to portrait tablet
@media (max-width: 768px) { 

#capsalera {
    display: none;
}

#logo_mig { display:none;}

}
 
// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 980px) { 

#capsalera {
    display: none;
}

#logo_mig { left: 31%; opacity: 0.8; z-index: 0;}

}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */











